<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="ChartImageHandler" value="storage=file;timeout=20;"/>
	<add key="TravelWSReference.TravelWS" value="http://iweb.csie.ntut.edu.tw/www47/WebServices/TravelWS.asmx"/>
	</appSettings>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
		<add name="wwwConnectionString" connectionString="Data Source=db.csie.ntut.edu.tw,2819;Initial Catalog=SQL47;Persist Security Info=True;User ID=sql47;Password=s1234" providerName="System.Data.SqlClient"/>
    <add name="SQL47ConnectionString" connectionString="Data Source=db.csie.ntut.edu.tw,2819;Initial Catalog=SQL47;Persist Security Info=True;User ID=sql47;Password=s1234" providerName="System.Data.SqlClient"/>
		<add name="voteConnectionString" connectionString="Data Source=db.csie.ntut.edu.tw,2819;Initial Catalog=SQL47;User ID=sql47" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<customErrors defaultRedirect="~/10_Security/errorPage.htm" mode="Off" />
		<httpHandlers>
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
		<authentication mode="Forms">
			<forms loginUrl="~/10_Security/homePage.aspx" timeout="2880"/>
		</authentication>
		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SQL47ConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
			</providers>
		</membership>
		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="SQL47ConnectionString" applicationName="/"/>
			</providers>
		</profile>
		<roleManager enabled="true">
   <providers>
    <clear />
    <add connectionStringName="SQL47ConnectionString" applicationName="/"
     name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
    <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
     type="System.Web.Security.WindowsTokenRoleProvider" />
   </providers>
  </roleManager>

    <siteMap defaultProvider="XmlSiteMapProvider_Security" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider_Security"
             type="System.Web.XmlSiteMapProvider"
             siteMapFile="~/10_Security/trip.sitemap"
             securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="ChartImageHandler"/>
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
	</system.webServer>
 <system.net>
  <mailSettings>
   <smtp from="a8861673@gmail.com">
    <network host="smtp.gmail.com" password="a8861673" port="587"
     userName="a8861673@gmail.com" enableSsl="true" />
   </smtp>
  </mailSettings>
 </system.net>
</configuration>
